.container{
    gap: 0px;
}

h1{
    font-size: 1.4rem;
}

aside{
    grid-column: 1/-1;
    grid-row: 4;
    place-self: start center;
    font-size: 12px;
}

#juego-img{
    grid-column: 1/-1;
    place-self: center center;
}

#juego-respuesta{
    grid-row: 3;
    place-self: center center;
}

button{
    border-radius: 4px;
    padding: 5px;
    transition: 0.6s;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
}

#b3{
    width: 80px
}